body {
  background-color: dodgerblue;
}

h1{
  text-align: center;
  color: white;
}

img{
  text-align:center;
}

nav {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  Position: fixed; 
  background-color: #2F97C1;
  margin: 0;
  top: 0;
  left: 0;
}

li a {
  display: block;
  float: left;
  padding: 15px;
  color: #E4E0D4;
}

li a:hover {
  background-color: #111;
  color: green;
  font-size: 20px;
}

p {
  color: white;
  text-align: center;
  font-size: 40px;
}
