body {
  background-color: dodgerblue;
}

h1{
  text-align: center;
  color: red;
}

ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
  overflow: hidden; 
  position: fixed;
  background-color: gold;
  top: 0;
  margin: 0;
  left: 0; 
}

nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}
  
  li { 
    float: left;
}

li a {
  display: block;
  float: left;
  padding: 10px 25px;
  color: white;
}

li a: hover {
  background-color: #111;
  color: green;
  font-size: 20px;
}

p {
  color: white;
  text-align: center;
}
