body {
  background-color: dodgerblue;
}

nav {
  list-style-type: none;
  background-color: dodgerblue;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  postion: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E4E0D4;
  text-decorations: none;
  padding: 30px;  
}

li a:hover {
  background-color: #111;
  color: green;
}

img {
  text-align: center;
}

